@import url("https://fonts.googleapis.com/css?family=Molle:400i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

nav.nav-extended {
  background-color: white;
}

nav.nav-extended .nav-wrapper {
  min-height: 100px;
}

nav.nav-extended a {
  color: #2A363B !important;
}

ul a {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: "Molle", cursive;
  color: #FF847C;
}

footer h5 {
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #FF847C;
}

footer ul li a {
  text-decoration: none;
  color: #E84A5F;
}

.uppercase {
  text-transform: uppercase;
}

figure {
  margin: 5% 0% 0% 0%;
}

figure .hero-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand-logo {
  margin: 2% 0% 0% 0%;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 110%;
}

.selling-btn {
  float: right;
}

.line {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px;
}

.line h4 {
  margin: 0;
  font-size: 1.5rem;
}

.line span {
  position: relative;
  display: inline-block;
}

.line > span:before,
.line > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 3px;
  background: #99B898;
}

.line span:before {
  right: 100%;
  margin-right: 15px;
}

.line > span:after {
  left: 100%;
  margin-left: 15px;
}

.line-coral {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px;
}

.line-coral h4 {
  margin: 0;
  font-size: 1.5rem;
  color: #FF847C;
}

.line-coral > span {
  position: relative;
  display: inline-block;
}

.line-coral > span:before,
.line-coral > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 3px;
  background: #FECEA8;
}

.line-coral > span:before {
  right: 100%;
  margin-right: 15px;
}

.line-coral > span:after {
  left: 100%;
  margin-left: 15px;
}

.card-title {
  display: block;
  color: black;
}

.selling-btn {
  float: right;
  top: -7px;
  position: relative;
  padding: 0 30px;
}

.card-image {
  background: -webkit-gradient(linear, left bottom, left top, from(#99b898), to(#c9ddc9));
  background: linear-gradient(to top, #99b898 0%, #c9ddc9 100%);
  padding: 40px 0;
  min-height: 250px;
}

.card-image .card-action {
  background-color: white;
}

.dusty-green {
  background-color: #99B898;
}

.dusty-coral {
  background-color: #FECEA8;
}

.coral {
  background-color: #FF847C;
}

.pink {
  background-color: #E84A5F;
}

.teal {
  background-color: #2A363B;
}

.footer {
  width: 100vw;
  height: 400px;
  background-color: #FECEA8;
}

address {
  color: #E84A5F;
  font-style: normal !important;
}

@media (max-width: 900px) {
  .hero-img {
    height: 400px !important;
  }
}

@media (max-width: 500px) {
  .h2 {
    font-size: 1.1rem !important;
  }
  .hero-img {
    height: 300px !important;
  }
}
/*# sourceMappingURL=style.css.map */